doctype html 
html
  head
    style 
      include style.css 
  body 
    div.footer Вас вітає базаданих-сам склепав
    
    block content 

    div.footer Дякую,що продовжуєте навчання і щось стараєтесь щось типу того
      p  А під цим текстом реалізація силки
      br 
      a(href=frontendURL) Силка яка виведе тебе в гугл просто  