<div style="background-color: burlywood;">

  <h1 align="center" style="font-style: oblique;"> Homework </h1>

  <h2> Make your choice </h2>

  <ul>
    <li> <a style="color: blue;" href="http://localhost:5000/users"> Select all users </a></li>
    <li> <a style="color: blue;" href="http://localhost:5000/cars"> Select all cars </a></li>
  </ul>





  <form action="http://localhost:5000/logout">
    <button type="submit" style="color: blue;" >Logout</button>
  </form>

</div>